* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: url('bg.jpg') no-repeat;
    background-size: cover;
  }
  
  .box {
    width: 96%;
    background: rgba(77, 75, 75, 0.4);
    padding: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 4%;
    color: white;
    font-family: 'Century Gothic', sans-serif;
    border-radius: 15px;
    /* box-shadow: 7px 13px 37px black; */
  }
  
  .box-img {
    border-radius: 50%;
  }
  
  .box h1 {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    margin: 30px 0 20px;
  }
  
  .box h2 {
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
    margin-bottom: 30px
  }
  
  .box p {
    text-align: justify;
  }
  
  .box ul {
    margin-top: 20px;
    list-style: none;
  }
  nav{
    width: 96%;
    margin: auto;
  }
  .box ul li {
    display: inline-block;
  }
  .box ul li a {
    color: white;
    font-size: 45px;
    padding: 10px 5px;
    transition: all .5s ease-in-out;
    display: block;
  }
  
  .box ul li a:hover {
    color:#b9b9b9;
    transform: scale(1.3);
  }
  header{
      width: 96%;
      margin: auto;
      background-color: rgb(1, 1, 1, 1);
      color: white;
      height: 200px;
      padding-top: 20px;
      padding-left: 20px;
  }
  header > h1{
    font-size: 50px;
    padding-left: 20px;
    padding-top: 3%;
    float: left;
  }
  header div{
      float: left;
  }
  nav li{
      display: inline;
      
  }

.menu1{
    list-style: none;
    background: #ee7300;
    margin: auto;
    padding: auto;
    overflow: hidden;
}
.limenu{
  float: left;
}
.limenu{
    display: block;
    color: #f53d10;
    text-align: center;  
    padding: 10px 30px;
    text-decoration: none;
    border-right: 1px solid #1E1E1E ;
}
li a:hover{
    background-color: #414141;
    color:rgb(243, 243, 243);
}
  a{
    text-decoration: none;
    color: black;
  }
.contenido{
  display: inline-block;
  margin: auto;
  width: 33%;
  background-color: rgb(1, 1, 1, 0.8);
  border-width: 2px;
  border-style: solid;
  border-color: #1E1E1E;
  border-radius: 15px;
  padding: 10px;
}
.contenido a{
  text-align: center;
}
body{
  background-color: black; 
}
main{
  background-image: url(fondo.jpeg);
  background-attachment: fixed;
  background-size: cover;
  width: 96%;
  text-align: center;
  padding-top: 2%;
  margin: auto;
}
.link1{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
#mapa{
  margin: auto;
}
.cont{
  width: 40%;
 display: inline-block;
 font-size: 18px;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 text-align: center;
 margin: 30px;
 background-color: rgb(1, 1, 1, 0.8);
 color: white;
}
#pesa{
  font-size: 70px;
  float: left;
  padding-top: 3%;
  padding-left: 5%;
}
#doom{
  height: 100%;
  float: right;
  padding-right: 10px;
}
#iniciar{
  display: inline-block;
  margin: auto;
  width: auto;
  background-color: rgb(1, 1, 1, 0.8);
  border-width: 2px;
  border-style: solid;
  border-color: #1E1E1E;
  border-radius: 15px;
  padding: 10px;
}
#tabla_prod{
  margin: auto;
  border-spacing: 35px;
  text-align: center;
  
}
.img_prod{
  width: 90%;
  height: 90%;
}
.recuadros{
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.8);
}
.recuadros:hover{
  background-color: #414141;
  color: azure;
}
